body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.square {
    height: 34px;
    width: 34px;
    min-width: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    border: 1px solid #999;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    background: #fff;
    float: left;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.red {
    color: darkred;
}

.row {
    display: flex;
}